<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category"
            id="jp.sf.amateras.stepcounter">
      </category>
      <view
            name="%stepCountViewName"
            category="jp.sf.amateras.stepcounter"
            icon="icons/stepcounter.gif"
            class="jp.sf.amateras.stepcounter.StepCountView"
            id="jp.sf.amateras.stepcounter.StepCountView">
      </view>
      <view
            name="%diffCountViewName"
            category="jp.sf.amateras.stepcounter"
            icon="icons/stepcounter.gif"
            class="jp.sf.amateras.stepcounter.DiffCountView"
            id="jp.sf.amateras.stepcounter.DiffCountView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            adaptable="true"
            id="jp.sf.amateras.stepcounter.objectContribution1">
         <menu
               label="%menuLabel"
               id="jp.sf.amateras.stepcounter.menu"
               path="additions">
            <separator name="count" />
         </menu>
         <!--
         <action
               label="%diffCountLabel"
               class="jp.sf.amateras.stepcounter.DiffCountAction"
               id="jp.sf.amateras.stepcounter.DiffCountActions"
               enablesFor="1"
               menubarPath="jp.sf.amateras.stepcounter.menu/count">
         </action>
         -->
         <action
               label="%stepCountLabel"
               class="jp.sf.amateras.stepcounter.StepCountAction"
               id="jp.sf.amateras.stepcounter.StepCountAction"
               menubarPath="jp.sf.amateras.stepcounter.menu/count">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IContainer"
            adaptable="true"
            id="jp.sf.amateras.stepcounter.objectContribution2">
         <menu
               label="%menuLabel"
               id="jp.sf.amateras.stepcounter.menu"
               path="additions">
            <separator name="count" />
         </menu>
         <action
               label="%diffCountLabel"
               class="jp.sf.amateras.stepcounter.DiffCountAction"
               id="jp.sf.amateras.stepcounter.DiffCountActions"
               enablesFor="1"
               menubarPath="jp.sf.amateras.stepcounter.menu/count">
         </action>
         <action
               label="%stepCountLabel"
               class="jp.sf.amateras.stepcounter.StepCountAction"
               id="jp.sf.amateras.stepcounter.StepCountAction"
               menubarPath="jp.sf.amateras.stepcounter.menu/count">
         </action>
      </objectContribution>
   </extension>
</plugin>
